Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    llvm-*,
    misc-*,
    modernize-*,
    mpi-*,
    openmp-*,
    performance-*,
    readability-*

FormatStyle: file

ImplementationFileExtensions:
    - 'c'
    - 'cc'
    - 'cpp'
    - 'cxx'
    - 'ino'
